body {
font-size: 10pt;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:whitesmoke;
line-height: 14pt;
padding-left: 5pt;
padding-right: 5pt;
padding-top: 5pt;
background-image: url(NIK_4368.jpg);
background-repeat: no-repeat;
background-size: 1920px 900px;


}

h1{
font: 14pt Verdana, Geneva, Arial;
font-weight: bold;
line-height: 20pt;

}

p.subheader{
    font-weight: bold;
    color: blue;
    

}

img{
padding: 20pt;
text-align: center;
float: right;


}

a {
    text-decoration: none;

}

a:link,a:visited{
    color: blueviolet;
}

a:hover,a:active{
    color: aquamarine;

}

div.foooter{
    text-align: center;
    font-size: 9pt;
    font-style: italic;
    padding-top: 30pt;

}